<% if @restaurant.errors.any? %>
<div id="errors_explanation">
	<h2> <%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved: </h2>
	<ul>
			<% @restaurant.errors.full_messages.each do |message| %>
			<li><%= message %></li>
	<% end %>
</ul>
</div>

<% end %>

<%= form_for @restaurant do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_area :description %>
<%= f.submit %>
<% end %>