<%= notice %>
<% if @restaurants.any? %>
<%	@restaurants.each do |restaurant| %>
<section class="row">
	<div class="col-md-2 col-md-offset-3 avatar">
	<%= image_tag restaurant.image.url(:medium) %></p>
	<div class="restaurant-links">
	<%= link_to("", edit_restaurant_path(restaurant), class: "glyphicon glyphicon-pencil") %>
	<%= link_to("", restaurant_path(restaurant), method: :delete, class: "glyphicon glyphicon-remove") %>
	</div>
	</div>
	<div class="col-md-4">
	<h2><%= restaurant.name %></h2>
	<span class="stars"><%= star_rating(restaurant.average_rating) %></span>
		<p><%= truncate(restaurant.description, length: 30)%><%= link_to("read more", restaurant_path(restaurant)) %></p>
	<%= link_to("review #{restaurant.name}", new_restaurant_review_path(restaurant), class: "btn btn-warning")%>

	</div>
</section>
<% end %>
<% else %>
<p>no restaurants yet</p>
<% end %>

<p><%= link_to 'add a restaurant', new_restaurant_path %></p>