<%= notice %>
<% if @restaurants.any? %>
<%	@restaurants.each do |restaurant| %>
<h2><%= restaurant.name %></h2>
<%= link_to("edit #{restaurant.name}", edit_restaurant_path(restaurant)) %>
<%= link_to("delete #{restaurant.name}", restaurant_path(restaurant), method: :delete) %>
<%= link_to("show #{restaurant.name}", restaurant_path(restaurant)) %>
<%= link_to("review #{restaurant.name}", new_restaurant_review_path(restaurant)) %>

	<ul>
		<% restaurant.reviews.each do |review| %>
			<li>
				<%= "#{review.musings}" %> <strong><%= "#{review.rating}" %></strong>
				<em><%= time_ago_in_words(review.created_at) %> ago</em>
			
			<%= link_to 'endorse this review', review_endorsements_path(review), class: 'endorsement-links' %>
			
			<span class="endorsements_count">
				<%= pluralize(review.endorsements.count, 'endorsement') %>
			</span></li>
		<% end %>
			<h3>average rating: <%= star_rating(restaurant.average_rating) %></h3>
	</ul>

<% end %>
<% else %>
<p>no restaurants yet</p>
<% end %>

<p><%= link_to 'add a restaurant', new_restaurant_path %></p>